body {
  background-color: #57c2f4;   
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}


h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: 2.2rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.4rem;
  margin-top: 20px;
}


p {
  line-height: 1.6;
  margin-bottom: 15px;
  width: auto;
}


#paragraph2 {
  width: 70%;
  margin: 25px 0 25px 50px;
  padding: 20px 25px;
  border: 4px solid #16631a;
  line-height: 1.6;
  background-color: #ffffff;
  text-align: left;
}

#paragraph2 + p {
  margin-top: 20px;
  
}

article {
  margin: 0;
  padding-left: 10px;
}


/* p 4and 5 */
.blue {
    background-color: #00008b;
  color: white;   
  width: auto;
  padding: 20px;
  border:2px solid black;
  margin:25px 0 25px 0;
}

/* link*/
a {
  color: #0611af;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


a[href*="w3schools"] {
  color: #ae2d06;
}

/* ===== Lists ===== */
ol {
  list-style-type: decimal-leading-zero;
  margin-left: 30px;
}

li {
  margin-bottom: 5px;
}


table {
  border-collapse: collapse;
  margin-top: 15px 0;
}

th {
  background-color: #737371;
  padding: 8px;
  border: 1px solid #000;
  text-align: left;
}

td {
  background-color: #eeeeee;
  padding: 8px;
  border: 1px solid #000;
}
